<p id="notice"><%= notice %></p>

<h1>Билеты</h1>

<table>
  <thead>
    <tr>
      <th>ID Билета</th>
      <th>ID Поезда</th>
      <th>Станция отправления</th>
      <th>Станция прибытия</th>
      <th>ID Пользователя</th>
      <th>ФИО</th>
      <th>Номер паспорта</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>
