<p>
  <strong>Кол-во верхних мест:</strong>
  <%= @carriage.topseats %>
</p>

<p>
  <strong>Кол-во нижних мест:</strong>
  <%= @carriage.botseats %>
</p>

<p>
  <strong>Кол-во верхних боковых мест:</strong>
  <%= @carriage.side_top_seats %>
</p>

<p>
  <strong>Кол-во нижних боковых мест:</strong>
  <%= @carriage.side_bot_seats %>
</p>
