h1 Результат поиска:

table class="table"
  thead
    tr
      th Номер поезда
      th Отправление с #{@start.title}
      th Прибытие на #{@finish.title}
  tbody
    - @results.each do |result|
      tr
        td = result.number
        td = @start.time_in(result.route, :departure_time)
        td = @finish.time_in(result.route, :arrival_time)
        td
          = form_tag new_ticket_path, method: :get do
            = hidden_field_tag :train_id, result.id
            = hidden_field_tag :start_station_id, @start.id
            = hidden_field_tag :end_station_id, @finish.id
            = submit_tag "Купить", class: "btn btn-primary"

= link_to 'Еще найти', new_search_path
